#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}


.nutrition_li
{
  margin-top: 13px;
}

.nutrition_li h4
{
    border-bottom: 1px solid white;
    padding: 8px;
}

.nutrition_li img
{
  border-radius: 25px;
}

.nutrition_li p
{
  margin-top:10px;
}

.header_entrepreneur
{
  line-height: 2;
}
body{
background: #DAE2F8;  
background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



